* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", Sans-serif;
}
.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.logo {
  width: 170px;
}
body {
  overflow-x: hidden;
}
